.Navbarsection{
  padding: 5px 0 ;
}
.nav-bar-link{
  cursor: pointer;
  color: var(--theme-color-red)!important;
}
.profileImg img{
    width: 30px;
    height: 30px;
}
.profiledata p{
  line-height: 15px;
}
.profiledata span{
  line-height: 10px;
    font-size: 10px;
}

.menuitem span{
  /* margin: 4px 4px!important; */
  color: var(--theme-color-red);
}
.profile .profiledata{
  color: var(--theme-color-red);
}